<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boar Jerky</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header>
      <h1>Boar Jerky</h1>

      <figure>
        <img
          src="/src/view/img/boar_jerky-64x64.png"
          alt="Boar Jerky"
          style="width: 64px; height: 64px"
        />
        <figcaption>A lean salty and subtly sweet food.</figcaption>
      </figure>
    </header>

    <main>
      <h2>Description</h2>
      <p>
        Boar jerky is made with only two ingredients: boar meat and honey. The
        ratio of boar meat and honey are 1:1.
      </p>
      <h3>Ingredients</h3>
      <ul>
        <li>Cauldron</li>
        <li>Boar Meat (raw)</li>
        <li>Honey</li>
      </ul>

      <h3>Steps</h3>
      <ol>
        <li>Marinate combined ingredients in desired mixture for 12 hours.</li>
        <li>Heat cauldron.</li>
        <li>
          Combine 1 part uncooked boar meat to 1 part honey into cauldron.
        </li>
        <li>Cook for 3 hours on low heat.</li>
        <li>Remove from cauldron when meat is thoroughly dried.</li>
        <li>
          The jerky should be dry to the touch, and chewy but still tender.
        </li>
      </ol>
    </main>

    <footer>
      <a href="/src/view/index.html">Back to Home</a>
    </footer>
  </body>
</html>
