<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrot Soup</title>
  </head>
  <body>
    <header>
      <h1>Carrot Soup</h1>

      <figure>
        <img
          src="/src/view/img/carrot_soup-64x64.png"
          alt="Carrot Soup"
          style="width: 64px; height: 64px"
        />
        <figcaption>A warm tasty soup consisting of mostly carrots.</figcaption>
      </figure>
    </header>

    <main>
      <h2>Description</h2>
      <p>
        Carrot soup is made with only two ingredients: carrots and mushrooms.
        The ratio of carrots and mushrooms are 3:1.
      </p>
      <h3>Ingredients</h3>
      <ul>
        <li>Cauldron</li>
        <li>Mushroom</li>
        <li>Carrot</li>
      </ul>

      <h3>Steps</h3>
      <ol>
        <li>Heat cauldron</li>
        <li>Combine 1 part mushroom to 3 part carrot into cauldron</li>
        <li>Cook for 4 minutes on high heat</li>
        <li>Pour from cauldron to prevent over-cooking</li>
        <li>Let cool for 5 minutes and enjoy</li>
      </ol>
    </main>

    <footer>
      <a href="/src/view/index.html">Back to Home</a>
    </footer>
  </body>
</html>
