<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deer Stew</title>
  </head>
  <body>
    <header>
      <h1>Deer Stew</h1>

      <figure>
        <img
          src="/odin-recipes/src/view/img/deer_stew-64x64.png"
          alt="Deer Stew"
          style="width: 64px; height: 64px"
        />
        <figcaption>A salty and sweet stew of tender venison.</figcaption>
      </figure>
    </header>

    <main>
      <h2>Description</h2>
      <p>
        Deer stew is made with three ingredients: Cooked deer meat, carrot, and
        blueberries. The ratio of all three ingredients are 1:1:1.
      </p>
      <h3>Ingredients</h3>
      <ul>
        <li>Cauldron</li>
        <li>Deer Meat (cooked)</li>
        <li>Carrot</li>
        <li>Blueberries</li>
      </ul>

      <h3>Steps</h3>
      <ol>
        <li>Heat cauldron.</li>
        <li>
          Combine equal parts of cooked deer meat, carrot, and blueberries into
          cauldron.
        </li>
        <li>Cook for 6 minutes on medium heat.</li>
        <li>
          Remove from cauldron when carrot is soft, or when desired texture is
          achieved.
        </li>
        <li>Let stew cool for 5 minutes before consuming, and enjoy!</li>
      </ol>
    </main>

    <footer>
      <a href="/odin-recipes/">Back to Home</a>
    </footer>
  </body>
</html>
